# Name: Process Pixels
# Author: The Fiji Team
# Version: 1.0.0

# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.
Plugins>SMC>Utility, "add channel", splugins.add_channel
Plugins>SMC>Utility, "Bin Image", splugins.Bin_Image
Plugins>SMC>Utility, "Compare ROI To Border", splugins.Compare_ROI_To_Border
Plugins>SMC>Utility, "Correct Flatness", splugins.Correct_Flatness
Plugins>SMC>Utility, "Correct Flatness Using Sample", splugins.Correct_Flatness_Using_Sample
Plugins>SMC>Utility, "Convert PE Reference Stack", splugins.Convert_PE_Reference_Stack
Plugins>SMC>Utility, "Crop NonZero", splugins.Crop_NonZero
Plugins>SMC>Utility, "Dilate3D NoClash", splugins.Dilate3D_NoClash
Plugins>SMC>Utility, "Fix CMOS LED", splugins.Fix_CMOS_LED
Plugins>SMC>Utility, "fix multipoint maxima", splugins.fix_multipoint_maxima
Plugins>SMC>Utility, "Fill In Zeros", splugins.Fill_In_Zeros
Plugins>SMC>Utility, "Histogram Normalize Percentile", splugins.Histogram_Normalize_Percentile
Plugins>SMC>Utility, "Mask Largest", splugins.Mask_Largest
Plugins>SMC>Utility, "Mask Middle", splugins.Mask_Middle
Plugins>SMC>Utility, "Max Project Subsets", splugins.Max_Project_Subsets
Plugins>SMC>Utility, "Max Project With Reference", splugins.Max_Project_With_Reference
Plugins>SMC>Utility, "Max Project With Reference At Front", splugins.Max_Project_With_Reference_AtFront
Plugins>SMC>Utility, "max project ROI", splugins.max_project_ROI
Plugins>SMC>Utility, "Measure Perimeters", splugins.Measure_Perimeters
Plugins>SMC>Utility, "Multi Spectral Profiler", splugins.Multi_Spectral_Profiler
Plugins>SMC>Utility, "Multi Z Profiler", splugins.Multi_Z_Profiler
Plugins>SMC>Utility, "Normalize Stack To ROI", splugins.Normalize_Stack_To_ROI
Plugins>SMC>Utility, "Normalize_Unity", splugins.Normalize_Unity
Plugins>SMC>Utility, "Normalize to Max Project", splugins.Normalize_to_Max_Project
Plugins>SMC>Utility, "Paste Channel To Front", splugins.Paste_Channel_To_Front
Plugins>SMC>Utility, "Paste Projection To Front", splugins.Paste_Projection_To_Front
Plugins>SMC>Utility, "Percentile Threshold With Mask", splugins.Percentile_Threshold_With_Mask
Plugins>SMC>Utility, "Percentile Threshold", splugins.Percentile_Threshold
Plugins>SMC>Utility, "Percentile Threshold Stack", splugins.Percentile_Threshold_Stack
Plugins>SMC>Utility, "Profile Z Information", splugins.Profile_Z_Information
Plugins>SMC>Utility, "Project In Y", splugins.Project_In_Y
Plugins>SMC>Utility, "Rolling Time Subtract", splugins.Rolling_Time_Subtract
Plugins>SMC>Utility, "Scale Ramp Zstack", splugins.Scale_Ramp_Zstack
Plugins>SMC>Utility, "shift z and wrap", splugins.shift_z_and_wrap
Plugins>SMC>Utility, "shift z in hyperstack", splugins.shift_z_in_hyperstack
Plugins>SMC>Utility, "Subtract Neighbor Frame", splugins.Subtract_Neighbor_Frame
Plugins>SMC>Utility, "Subtract Leakage", splugins.Subtract_Leakage
Plugins>SMC>Utility, "Threshold 3D with size", splugins.find_3D_blobs_time
Plugins>SMC>Utility, "ZProject Min Avg", splugins.ZProject_Min_Avg
Plugins>Table Tools, "Rename Table", jguis.rename_table_jru_v1
Plugins>SMC, "Align In Z", splugins.Align_In_Z
Plugins>SMC, "Align Landmarks", splugins.Align_Landmarks_Stack
Plugins>SMC, "Calculate Masked Pearsons", splugins.Calculate_Masked_Pearsons
Plugins>SMC, "Calculate Anisotropy", splugins.Calculate_Anisotropy
Plugins>SMC, "Compute 3D Blob Statistics", splugins.compute_3D_blob_statistics
Plugins>SMC, "Dot Source Target Masks", splugins.Dot_Source_Target_Masks
Plugins>SMC, "FileStackReg", splugins.FileStackReg_
Plugins>SMC, "FileStackReg2", splugins.FileStackReg2_
Plugins>SMC, "FileStackReg3", splugins.FileStackReg3_
Plugins>SMC, "find blob 3D quantify", splugins.find_blobs_3D_quantify
Plugins>SMC, "find blob 3D tester", splugins.find_blob_3D_tester
Plugins>SMC, "find colocalization candidates 3D", splugins.find_colocalization_candidates_3D
Plugins>SMC, "find colocalization candidates 3D percentile", splugins.find_colocalization_candidates_3D_percentile
Plugins>SMC, "Filter ROIs", splugins.Filter_ROIs
Plugins>SMC, "Filter ROIs Zoom", splugins.Filter_ROIs_Zoom
Plugins>SMC, "Filter Colocalization Candidates", splugins.Filter_Colocalization_Candidates
Plugins>SMC, "Fix Counting", splugins.Fix_Counting
Plugins>SMC, "Fix Rotation Drift Manually", splugins.Fix_Rotation_Drift_Manually
Plugins>SMC, "Fix Z Drift Manually", splugins.Fix_Z_Drift_Manually
Plugins>SMC, "Fix XY Drift Manually", splugins.Fix_XY_Drift_Manually
Plugins>SMC, "Fix XY Jump Manually", splugins.Fix_XY_Jump_Manually
Plugins>SMC, "Fix XY Jump Manually Channels", splugins.Fix_XY_Jump_Manually_Channels
Plugins>SMC, "Fix Rotation Translation With Lines Manually", splugins.Fix_Rotation_Translation_With_Line_Manually
Plugins>SMC, "Forward Project", splugins.Forward_Project
Plugins>SMC, "Interactive", splugins.interactive_stack_test
Plugins>SMC, "Label ROIs 3D", splugins.Label_ROIs_3D
Plugins>SMC, "Locate Chromosome Spreads", splugins.Locate_Chromosome_Spreads
Plugins>SMC, "Make RGB From Spectra", splugins.Make_RGB_From_Spectral
Plugins>SMC, "Make Sinogram", splugins.Make_Sinogram
Plugins>SMC, "Make Flat", splugins.Make_Flat
Plugins>SMC, "MakeNormalizedSpectra ", splugins.MakeNormalizedSpectra_
Plugins>SMC, "Manual Align", splugins.Manual_Alignment
Plugins>SMC, "Manual Tracker", splugins.Manual_Tracker
Plugins>SMC, "Membrane Projections", splugins.Membrane_Projections
Plugins>SMC, "merge objects in tiles", splugins.merge_objects_in_tiles_v2
Plugins>SMC, "MTrack2 smc ", splugins.MTrack2_smc_
Plugins>SMC, "multichannel stackreg", splugins.multichannel_stackreg
Plugins>SMC, "MultiThread Test", splugins.Threaded_Derivatives
SMC, "Pick 3D Spots ROI", splugins.Pick_3D_Spots_ROI
SMC, "VSI_Reader_SMC", splugins.VSI_Reader_SMC_Fast
Plugins>SMC, "Pick Cells Manually", splugins.Pick_Cells_Manually
Plugins>SMC, "Planaria Analyze", splugins.Planaria_Analyze
Plugins>SMC, "Process Peaked Worm Mask", splugins.Process_Peaked_Worm_Mask
Plugins>SMC, "Replace Zero With Noise", splugins.Replace_Zero_With_Noise
Plugins>SMC, "scale 3Channel", splugins.scale_3Channel
Plugins>SMC, "sCMOS Filter Bad Pixels", splugins.sCMOS_Filter_Bad_Pixels
Plugins>SMC, "seeded multipoint adaptive region grow", splugins.seeded_multipoint_adaptive_region_grow
Plugins>SMC, "seeded region grow 3D no merge", splugins.seeded_region_grow_3D_no_merge
Plugins>SMC, "seeded region grow 3D watershed", splugins.seeded_region_grow_3D_watershed
Plugins>SMC, "seeded region grow 3D", splugins.seeded_region_grow_3D
Plugins>SMC, "seeded region grow 3D thresholded", splugins.seeded_region_grow_3D_thresholded
Plugins>SMC, "Simple Cross Corr", splugins.Simple_Cross_Corr
Plugins>SMC, "Stitch PE Data", splugins.Stitch_PE_Data
Plugins>SMC, "Stitch Robot nd2", splugins.Stitch_Robot_nd2
Plugins>SMC, "test calling", splugins.test_calling
Plugins>SMC, "Threshold Percentile", splugins.Threshold_Percentile
Plugins>SMC, "Topography Mapper", splugins.Topography_Mapper
Plugins>SMC, "Topography To Binary", splugins.Topography_To_Binary
Plugins>SMC, "Test grow 3D", splugins.test_grow_3D
Plugins>SMC, "Trim In Z Automatically", splugins.Trim_In_Z_Automatically


SMC, "MARCM Clone Borders", splugins.MARCM_Clone_Borders
Plugins>JRU, "linear unmixing jru v3", splugins.linear_unmixing_jru_v3
