# Name: Process Pixels
# Author: The Fiji Team
# Version: 1.0.0

# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.

Plugins>SMC>Utility, "add channel", splugins.add_channel
Plugins>SMC, "Add Stripey Tiles", splugins.Add_Stripey_Tiles
Plugins>SMC, "Align In Z", splugins.Align_In_Z
Plugins>SMC>Utility, "Bin Image", splugins.Bin_Image
Plugins>SMC, "Calculate Masked Pearsons", splugins.Calculate_Masked_Pearsons
Plugins>SMC, "Calculate Spatial Correlation", splugins.Calculate_Spatial_Correlation
Plugins>SMC>Utility, "Correct Flatness", splugins.Correct_Flatness
Plugins>SMC>Utility, "Correct Flatness Using Sample", splugins.Correct_Flatness_Using_Sample
Plugins>SMC, "Dot Source Target Masks", splugins.Dot_Source_Target_Masks
Plugins>SMC, "FileStackReg", splugins.FileStackReg_
Plugins>SMC, "FileStackReg2", splugins.FileStackReg2_
Plugins>SMC, "FileStackReg3", splugins.FileStackReg3_
Plugins>SMC, "find blob 3D tester", splugins.find_blob_3D_tester
Plugins>SMC, "find colocalization candidates 3D", splugins.find_colocalization_candidates_3D
Plugins>SMC, "find colocalization candidates 3D percentile", splugins.find_colocalization_candidates_3D_percentile
Plugins>SMC, "Fix Counting", splugins.Fix_Counting
Plugins>SMC, "Forward Project", splugins.Forward_Project
Plugins>SMC, "Make RGB From Spectra", splugins.Make_RGB_From_Spectral
Plugins>SMC, "Make Sinogram", splugins.Make_Sinogram
Plugins>SMC, "MakeNormalizedSpectra ", splugins.MakeNormalizedSpectra_
Plugins>SMC>Utility, "Mask Largest", splugins.Mask_Largest
Plugins>SMC>Utility, "Mask Middle", splugins.Mask_Middle
Plugins>SMC>Utility, "Max Project Subsets", splugins.Max_Project_Subsets
Plugins>SMC>Utility, "Max Project With Reference", splugins.Max_Project_With_Reference
Plugins>SMC>Utility, "Max Project With Reference At Front", splugins.Max_Project_With_Reference_AtFront
Plugins>SMC, "merge objects in tiles", splugins.merge_objects_in_tiles
Plugins>SMC, "MTrack2 smc ", splugins.MTrack2_smc_
Plugins>SMC>Utility, "Multi Spectral Profiler", splugins.Multi_Spectral_Profiler
Plugins>SMC>Utility, "Multi Z Profiler", splugins.Multi_Z_Profiler
Plugins>SMC, "multichannel stackreg", splugins.multichannel_stackreg
Plugins>SMC, "normalize to max project", splugins.normalize_to_max_project
Plugins>SMC>Utility, "Percentile Threshold With Mask", splugins.Percentile_Threshold_With_Mask
Plugins>SMC>Utility, "Percentile Threshold", splugins.Percentile_Threshold
Plugins>SMC>Utility, "Percentile Threshold Stack", splugins.Percentile_Threshold_Stack
Plugins>SMC, "Pick Cells Manually", splugins.Pick_Cells_Manually
Plugins>SMC, "Planaria Analyze", splugins.Planaria_Analyze
Plugins>SMC, "Process Peaked Worm Mask", splugins.Process_Peaked_Worm_Mask
Plugins>SMC>Utility, "Rolling Time Subtract", splugins.Rolling_Time_Subtract
Plugins>SMC>Utility, "Subtract Neighbor Frame", splugins.Subtract_Neighbor_Frame
Plugins>SMC, "scale 3Channel", splugins.scale_3Channel
Plugins>SMC, "sCMOS Filter Bad Pixels", splugins.sCMOS_Filter_Bad_Pixels
Plugins>SMC, "seeded multipoint adaptive region grow", splugins.seeded_multipoint_adaptive_region_grow
Plugins>SMC, "seeded region grow 3D no merge", splugins.seeded_region_grow_3D_no_merge
Plugins>SMC, "seeded region grow 3D watershed", splugins.seeded_region_grow_3D_watershed
Plugins>SMC, "seeded region grow 3D", splugins.seeded_region_grow_3D
Plugins>SMC>Utility, "shift z and wrap", splugins.shift_z_and_wrap
Plugins>SMC>Utility, "shift z in hyperstack", splugins.shift_z_in_hyperstack
Plugins>SMC, "Stitch Pair", splugins.Stitch_Pair
Plugins>SMC, "test calling", splugins.test_calling
Plugins>SMC, "Threshold Percentile", splugins.Threshold_Percentile
Plugins>SMC>Utility, "Unity Normalize", splugins.Unity_Normalize
Plugins>SMC>Utility, "max project ROI", splugins.max_project_ROI
Plugins>SMC>Utility, "Threshold 3D with size", splugins.find_3D_blobs_time
Plugins>SMC, "Test grow 3D", splugins.test_grow_3D
Plugins>SMC>Utility, "Histogram Normalize Percentile", splugins.Histogram_Normalize_Percentile
Plugins>SMC>Utility, "Subtract Leakage", splugins.Subtract_Leakage
Plugins>SMC>Utility, "Scale Ramp Zstack", splugins.Scale_Ramp_Zstack
Plugins>SMC>Utility, "Normalize Stack To ROI", splugins.Normalize_Stack_To_ROI
Plugins>SMC>Utility, "Compare ROI To Border", splugins.Compare_ROI_To_Border
Plugins>SMC>Utility, "ZProject Min Avg", splugins.ZProject_Min_Avg
Plugins>SMC>Utility, "Paste Channel To Front", splugins.Paste_Channel_To_Front
Plugins>SMC>Utility, "Profile Z Information", splugins.Profile_Z_Information
Plugins>SMC>Utility, "Dilate3D NoClash", splugins.Dilate3D_NoClash
Plugins>SMC>Utility, "Convert PE Reference Stack", splugins.Convert_PE_Reference_Stack
Plugins>SMC, "Manual Tracker", splugins.Manual_Tracker
Plugins>SMC, "Locate Chromosome Spreads", splugins.Locate_Chromosome_Spreads
Plugins>SMC, "Simple Cross Corr", splugins.Simple_Cross_Corr
SMC, "Topography Mapper", splugins.Topography_Mapper
SMC, "Topography To Binary", splugins.Topography_To_Binary
Plugins>JRU, "linear unmixing jru v3", splugins.linear_unmixing_jru_v3
SMC, "Manual Align", splugins.Manual_Alignment
SMC, "Replace Zero With Noise", splugins.Replace_Zero_With_Noise
SMC, "MultiThread Test", splugins.Threaded_Derivatives
SMC, "Test", splugins.delete_me
SMC, "Interactive", splugins.interactive_stack_test